<div class="d-flex flex-coloum flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white bprder-botton shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal">
      Market App
    </h1>
    <form class="form-inline waves-light" mdbWavesEffect>
      
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form><a class="btn btn-outline-primary" routerLink="/SEARCH">Search</a>&nbsp;
      <a class="btn btn-outline-primary" routerLink="/HOME">Home</a>
      &nbsp;<a class="btn btn-outline-primary" routerLink="/ADMIN-LOGIN">Admin Log In</a>
</div>
