<div class="card shadow-sm " >
    <img class="bd-placeholder-img card-img-top" width="5px" height="500px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrQF4qj4BAoFE-5X02czSdFwuPPNDbEo5IAg&usqp=CAU"/>
    <div class="card-body">
        <p class="card-text">
            <strong>{{ 450 | currency:'INR'}}
            </strong>
        </p>
      <p class="card-text">This is a cutter product</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" 
          class="btn btn-sm btn-primary product-btn"
          >Add To cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
    </div>
    </div>
    </div>